/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";


    @media print {

      div {
        display: block;
      }

      .noPrint {
        display: none; 
      }

    }


    body {    
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;    
    }    


    #map {
      z-index: 9;
      -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; 
    }

    .milky {
      background-color: #D0BAA2;
    }

    .item {
      position: relative;
      top: 20px; left: 10px;
      border: white 3px ridge;
      padding: 10px;
      border-radius: 15px;
      width: 50%;
      min-width: 420px;
      overflow: hidden;
      background: #E0CAB2;
      box-shadow: -5px 5px 0px 0px rgba(100,100,100,0.5);
    }

    #bar {    
      top: 20px; left: none; right: 20px;
      border: white 3px ridge;
      padding: 10px;
      border-radius: 15px;
      width: 50%;
      height: 20px;
      min-width: 420px;
      overflow: hidden;
      background: #E0CAB2;
      box-shadow: -5px 5px 0px 0px rgba(100,100,100,0.5);
    }

    .item:hover{
      top: 20px;      left: 10px;
      box-shadow: 0px 5px 3px 0px rgba(50,50,255,0.5), 0px 10px 3px 0px rgba(50,50,255,0.5);

      -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; 
    }
/*
    .item.first {    
      max-height: 120px;
    }

    .item.first:hover {
      max-height: 1024px;
    }

*/

    .item.press {    
      max-height: 120px;
    }

    .item.press:active {
      max-height: 1024px;
/*      overflow: auto; */
      -webkit-transition: all 3s ease;
          -moz-transition: all 3s ease;
          -ms-transition: all 3s ease;
          -o-transition: all 3s ease;
          transition: all 3s ease; 
    }


/*    p:hover {
      text-decoration: underline;
    } */


    .fixed {
      position: fixed;
      padding: 0px;
    }

    .ui-progressbar-value {
      border-radius: 5px;
      padding-left: 15px;
      padding-top: 5px;
      min-width: 75px;
    }

    .invis {
      display: none;
    }

    .tip {
      font-size: 66%;
      float: right;
    }

    #canvas{
      display: block;
      position:absolute;
      top: 100px;
      right: 0px;
/*      left: 0px; */
      opacity:0.85;
      filter:alpha(opacity=85); 
      z-index: 5;
      cursor: sw-resize;    
    }


    p {
      padding: 15px;
    }


    p *{
      position: relative;
      z-index: 7;
    }
    
    img {
      position: relative;
      z-index: 9;
    }

    .tool {
      z-index: 7;
    }
    .color{
        cursor:  sw-resize;
    }

#draw-box {
  font-size: 16px;
  position: relative;
  left: 50px;
  display: inline-block;
  input {

  }
}

button.map,select.map {
  @include box-shadow(blue 2px 2px 10px);
}