/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


body {     font-size: 18px;   }

header {
  font-size: 20px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header h1 {
  font-size: 24px;       
}

header h2 {
  font-size: 18px;
}

h4.intro {
  font-size: 18px !important;
  margin-bottom:12px;
  color: #66c !important;
}


input#find {
  font-size: 22px;
  width: 350px;  
  border: 3px hsla(180,20%,75%,1) solid;  
  @include box-shadow(blue 2px 2px 10px);
}

.about > h2 {
  font-size: 30px !important;
}
.about > h3 {
  font-size: 26px !important;
}
hr {
  display: block;
  border-top: 3px #99f dotted !important;       
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  @include box-shadow(blue 2px 2px 10px);
  padding: 5px;
  &#textbook {
    width: 100%;
    max-height: 140px;
    overflow:auto;
    li {
      min-width: 250px;
      .note {
        position:relative;
        left: -50px;
      }
    }
  }
}

li {
  font-size: 16px;
  a:hover, td:hover {
    background-color: rgba(255,255,200,1);
  }
}



li#data {
  display: inline-block;
  width: 33%;
  height: 22px;
  overflow-x: auto;
  overflow-y: hidden;
}

.note {
  color: gray;
  float: right;
}

aside#sidebar {
  position: fixed;
  bottom: 0%;
  right: 0%;
  background: none;
  height: 66%;
  min-height: 0 !important;
}

a.button small {
  font-size: 18px;
}


.repo-owner {
  margin-top: 50px;
  background-color: white;
  font-size: 18px;
}

.about > img {
    margin: 15px;
}

#guide > li {
  font-size: 22px;
  list-style-type: circle;
}


p {
  line-height: 160%;
}

p > b {
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
}

#donate {
  font-size: 36px;
  vertical-align: middle;
  border: 1px #05f solid;
  border-radius: 50% 0px 0px 50%;
  -moz-border-radius: 50% 0px 0px 50%;
  -webkit-border-radius: 50% 0px 0px 50%; 

  img {
    width: 50px;
    height: 50px;
    position: relative;
    left: -25px;
  }      
}



@media only screen and (max-width: 767px) {
  aside#sidebar {
      display: none;
  }
}

