.q-coin, .a-coin {
	text-align: center;
}
.coin-stack, .box-stack {
	display: inline-flex;
	max-height: 15rem;
}
.coin-stack {	
	flex-flow: column nowrap;
}
.box-stack {
	min-width: 50vw;
	flex-flow: column wrap;
}

.coin-stack.negative > .coin {
  transform: rotate(180deg);
	text-shadow: 0 2px 0 black;
	color: white;
}
.coin {
	margin-bottom: -2rem; 
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	border-radius: 50%;
	background-size: cover;
	text-shadow: 0 2px 0 white;
}
.coin.c1000s {
	background-image: url(../card-images/c1000.jpg);
	height: 6rem;
	width: 13rem;
	border-radius: 0;
	margin-left: -4rem;
}
.coin.c500s {
	background-image: url(../card-images/c500.jpg);
	height: 6rem;
	width: 13rem;
	border-radius: 0;
	margin-left: -4rem;
}
.coin.c100s {
	background-image: url(../card-images/c100.jpg);
	height: 6rem;
	width: 13rem;
	border-radius: 0;
	margin-left: -4rem;
}
.coin.c50s {
	background-image: url(../card-images/c50.jpg);
	height: 6.2rem;
	width: 6.2rem;
}
.coin.c10s {
	background-image: url(../card-images/c10.jpg);
	height: 6rem;
	width: 6rem;
}
.coin.c5s {
	background-image: url(../card-images/c5.jpeg);
	height: 5rem;
	width: 5rem;
}
.coin.c1s {
	background-image: url(../card-images/c1.png);	
	height: 4rem;
	width: 4rem;
}

.box {
	margin: 0 -1.5rem;
	box-shadow: 1px solid grey;
	flex: 1;
	display: box;
	height: 3rem;
	width: 6rem;
	background-image: url(../card-images/treasure-box.jpg);		
	background-size: cover;
	background-position: center -1.1rem;
}