      body {     font-size: 18px;   }


      
      input#find {
        font-size: 22px;
        border: 3px hsla(180,20%,75%,1) solid;
        width: 350px;
      }

      h3 {
        font-size: 22px;
      }

      li {
        font-size: 16px;
      }

      li a:hover, td:hover {
        background-color: rgba(255,255,200,1);
      }

      li#data {
        display: inline-block;
        width: 33%;
        height: 22px;
        overflow-x: auto;
        overflow-y: hidden;
      }

      .note {
        color: gray;
        float: right;
      }

      aside#sidebar {
        position: fixed;
        bottom: 0%;
        right: 0%;
        background: none;
        height: 66%;
        min-height: 0 !important;
      }

      .repo-owner {
        background-color: white;
      }

      .about > img {
          margin: 15px;
      }

      #guide > li {
        font-size: 22px;
      }


      @media only screen and (max-width: 767px) {
        aside#sidebar {
              display: none;
            }
        }