
<!DOCTYPE html>

<html ng-app="fmIndexApp">
<head>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://bestian.github.io/freemath/學習地圖/" />
  <meta property="og:title" content="自由數學freemath" />
  <meta property="og:image" content="http://bestian.github.io/freemath/images/math-logo.png" />
  <meta charset = "utf-8">

  <link rel="stylesheet" type="text/css" href="../stylesheets/fmDoc.css"</link>

  <script src="../javascripts/jquery-1.10.2.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="../javascripts/angular.min.js"></script>

  <title>學習地圖</title>

<style>
  img {
    z-index: 2;
  }
  button, select{
    position: relative;
    z-index: 100;
  }
</style>

</head>

<body>



<div ng-controller ="Ctrl">

  <div class = "tool" style = "position:fixed; right: 50px; top: 250px; ">
    <ul type = "none">
      <li class = "color" ng-init = "color = '#4bf'" ng-repeat = "c in colors" style = "background-color: {{c}}; font-size:2rem;" ng-click="$parent.color = c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>

  <br/>
  </div>

  <span id = "cc" style = "position:fixed; right: 50px; top: 50px; background-color: {{color}};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <br/>
  <br/>

  <canvas width="900px" height="10000px" id="canvas" drawing>
  </canvas>

  <h3>====地圖====</h3>

  <Select id = "Range" name="Range"  ng-model="range" ng-init = "range = '小學數學學習地圖'" style = "font-size:1.2rem">
  　<option ng-repeat = "r in ranges" value="{{r}}">{{r}}</option>
  </Select>

  <button onclick = "location = 'indexD3.html'">前往動態地圖(Beta版)</button>

  <ul>
  	<li ng-repeat = "i in [0,1,2,3,4,5]">
  	  	<img src ="{{range}}/p{{i}}.jpg" style="max-width:75%"/>
  </ul>


</div>

<script type="text/javascript">

$(document).ready(function(){
	$(window).scrollTop(0);
	$("#canvas").select();
});

var fmIndexApp = angular.module('fmIndexApp', []);
function Ctrl($scope) {
	$scope.ranges = ["小學數學學習地圖","國中數學學習地圖","高中數學學習地圖"];
	$scope.colors = ["#4bf","#000","#880","#0f0"];
}

fmIndexApp.directive("drawing", function(){
  return {
    restrict: "A",
    link: function(scope, element){
      var ctx = element[0].getContext('2d');  
 
      ctx.lineWidth=1;    
      reset();   

      // variable that decides if something should be drawn on mousemove
      var drawing = false;     
      // the last coordinates before the current move
      var lastX;
      var lastY;

      element.bind('dblclick', function(event){
        reset();
      });

      element.bind('mousedown', function(event){
        lastX = event.offsetX;
        lastY = event.offsetY;        
        // begins new line
        ctx.beginPath();        
        drawing = true;
      });

      element.bind('mousemove', function(event){
        if(drawing){
          // get current mouse position
          currentX = event.offsetX;
          currentY = event.offsetY;

          draw(lastX, lastY, currentX, currentY);

          // set current coordinates to last one
          lastX = currentX;
          lastY = currentY;
        }        
      });
      element.bind('mouseup', function(event){
        // stop drawing
        drawing = false;
      });        
      // canvas reset
      function reset(){
          element[0].width = window.innerWidth;  
      }         
      function draw(lX, lY, cX, cY){
        // line from
        ctx.moveTo(lX,lY);
        // to
        ctx.lineTo(cX,cY);
        // color
        ctx.strokeStyle = scope.color;
        // draw it
        ctx.stroke();
      }
    }
  };
});

</script>

</div>

</body>


</html>