
    body {
      background-color: #D0BAA2;
    }

    .item {
      border: white 3px ridge; /*  方塊邊界顏色   */
      padding: 5px;
      border-radius: 15px;
      width: 50%;
      min-width: 420px;
      overflow: hidden;
      background: #E0CAB2;  /*  方塊底色   */
/*      line-height: 0.95ex;   */
    }

    .item.first {    
      max-height: 120px;
    }

    .item.first:hover {
      max-height: 1024px;
/*      overflow: auto; */
      -webkit-transition: all 3s ease;
          -moz-transition: all 3s ease;
          -ms-transition: all 3s ease;
          -o-transition: all 3s ease;
          transition: all 3s ease; 
    }

    .item.press {    
      max-height: 120px;
    }

    .item.press:active {
      max-height: 1024px;
/*      overflow: auto; */
      -webkit-transition: all 3s ease;
          -moz-transition: all 3s ease;
          -ms-transition: all 3s ease;
          -o-transition: all 3s ease;
          transition: all 3s ease; 
    }


    p:hover {
      text-decoration: underline;
    }


    .fixed {
      position: fixed;
      padding: 0px;
    }

    .top {
      top:10px;     
    }
    
    .right {
      right:20px;
    }

    .ui-progressbar-value {
      border-radius: 5px;
      padding-left: 15px;
      padding-top: 5px;
      min-width: 75px;
    }

    .invis {
      display: none;
    }

    .tip {
      font-size: 66%;
      float: right;
    }

