doctype html
html(ng-app='autoApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(property='og:type', content='article')
    meta(property='og:title', content='一萬小時原則的試算機-自由數學freemath')
    meta(property='og:image', content='http://bestian.github.io/freemath/images/math-logo.png')
    meta(property='og:description', content='到底，在成為達人之前，需要準備多少時間?試算一下就知道')
    title 一萬小時原則的試算機

    link(rel="stylesheet", href="../bower_components/semantic/dist/semantic.min.css")
    

  body
    title test
    style(type='text/css').
      body {
      background: rgba(200,255,255,1);
      font-size: 18px;
      }
    body(ng-controller='Ctrl')      
        .ui.ogrange.piled.segment.container
            h3.ui.header 
              i.bicycle.icon
              | 一萬小時原則
            .ui.divider
            |  根據許多領域達人的經驗，無論資質如何聰穎，都要在你感興趣的領域，投入大約一萬小時之後，才能進到達人的水平。
            br
            br
            | 這不是科學定律，但是的確有參考價值。
            .ui.divider
            | 我感興趣的領域是
            .ui.left.icon.input
              i.heart.icon
              input(type='text', ng-model='myField', ng-init="myField = '什麼'", autofocus="")
            | 我每週投入
            .ui.left.icon.input
              i.calendar.icon
              input(type='number', ng-model='week', ng-init='week = 1')
            | 個小時，在學習、研究、詢問、練習、創作、玩
            span(ng-bind='myField')
            | 上。          
            .ui.divider
            |         一萬除以
            span(ng-bind='week')
            |  = 
            span(ng-bind='Math.floor(10000 / week + 0.5)')          
            .ui.divider
            |         需要累積  
            span(ng-bind='Math.floor(10000 / week + 0.5)')
            | 週可達一萬小時          
            .ui.divider
            |         每年有52週，所以我大約需要
            span(ng-bind='Math.floor(10000 / week / 52 + 0.5)')
            | 年的努力，就能成為
            span(ng-bind='myField')
            | 達人。
    
    script(src='../javascripts/jquery-1.10.2.js')
    script(src='../javascripts/jquery-ui.js')
    script(src='../javascripts/angular.min.js')

    script(type='text/javascript').
      angular.module('autoApp',[])
        .controller('Ctrl',['$scope', Ctrl]);


      function Ctrl($scope) {
        $scope.Math = window.Math;
      }
