doctype html
html(ng-app='mathApp')
	head
		meta(charset='utf-8')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://math.alearn.org.tw/tools/card.html')
		meta(property='og:title', content='自由數學freemath')
		meta(property='og:image', content='http://bestian.github.io/freemath/tools/card.jpg')
		meta(property='og:image:width', content='??')
		meta(property='og:image:height', content='??')
		meta(property='og:description', content='多功能的數學閃卡')
		title 數學閃卡
		link.ui(rel='stylesheet', type='text/css', href='../bower_components/semantic/dist/semantic.min.css')
		link.ui(rel='stylesheet', type='text/css', href='./card.css')
	body(ng-controller='Ctrl', ng-keydown="onKeydown($event)")
		nav.ui.inverted.labeled.icon.menu.noPrint
			a.item(href='../index.html')
				i.home.icon(title='首頁')
				| 		首頁
			.right.menu
				a.item(target='_blank', href='https://freemath.hackpad.com/z9XTu9Rwf2P')
					i.question.icon(title='玩法說明')
					| 			玩法說明
				#setting.ui.simple.dropdown.item(title='設定')
					i.setting.icon
					| 			設定
					.menu
						.item
							span 首數範圍:
							input(type="number", ng-model="c.minN1", step="10")
							span ~ 
							input(type="number", ng-model="c.maxN1", step="10")
						.item
							span 末數範圍:
							input(type="number", ng-model="c.minN2", step="5")
							span ~ 
							input(type="number", ng-model="c.maxN2", step="5")
						.divider
						.item
							span 使用算符:
							select.ui.select(ng-model='c.op', ng-options='o as o.t for o in ops')
								option(value="") 選擇一項
						.divider
						.item
						.divider
						.item
							input(type="checkbox").ui.checkbox(ng-model="c.rememberMe")
							span 記住我的設定
		.ui.breadcrumb
			a.section(href='../index.html') 自由數學
			.divider  / 
			a.section(href='./index.html') 工具
			.divider  / 
			.active.section 閃卡

		.ui.container
			#main.ui.segment(clickable, ng-click="flipCard()")
				.glass
					.welcome(ng-if="welcome") {{welcome}}
				h1#question(ng-if="!flip") {{n1 | renderNagtive}} {{c.op.t}} {{n2 | renderNagtive}}
				h1#answer(ng-if="flip") {{$eval(n1 + c.op.s + n2) | renderQuotient | renderInf}}
		script(src='../bower_components/angular/angular.min.js')
		script(src='../bower_components/ngstorage/ngStorage.min.js')
		script(src='../bower_components/jquery/dist/jquery.min.js')
		script(type='text/javascript', src="./card.js")
		script(type='text/javascript', src=' ../ga.js')
