html {
	font-size: 2vm;
	font-size: 2vmin;
}
body {
	background-image: url(http://lorempixel.com/600/600/sports/);	
	background-size: cover;
}
nav {
	border-radius: 0 0 0 0 !important;
}
.breadcrumb {
	position: relative;
	left: 10px;
	padding-bottom: 20px;
}
[clickable] {
	cursor: pointer;
}
#main.segment {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 75vh;
	padding: 2rem 4rem;
	border-radius: 2rem;
	background-color: rgba(255,255,255,0.8);
	overflow: hidden;
}

.q, .a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 !important;
	padding: 1rem;
	border-radius: 3rem;
	background-color: rgba(255,255,255,0.8);
	text-shadow: 0 3px 0 white, 3px 3px 0 white;
}
.q {
	color: red;
	font-size: 5rem;
}
.a {
	color: blue;
	font-size: 8rem;
}
#dots {
	position: relative;
	z-index: 2;
}
.q-dot, .a-dot {
	margin-left: 1rem;
}
.q-dot .dot { 
	color: transparent; 
	background-color: #faa;
	border: 1px solid black;
}
.a-dot .dot { 
	color: transparent;
	background-color: #66f;
	border: 1px solid gold;
}
.dot {
	font-size: 1rem; 
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	width: 2.5rem;
	height: 2.5rem;
	margin: -0.2rem 0;
	box-shadow: 0 3px 1px grey;	
}
.dot:hover {
	color: #333; 
	border-width: 5px;
}
.a-dot .dot:hover {
	color: gold; 
	border-width: 5px;
}
.dot.negative {
	background-color: #999;
}
span.op {
	display: block;
	position: relative;
	top: .4rem;
	font-size: 4rem;
	padding: 1rem 0;
}
span.space {
	display: inline-block;
	width: 1.8rem;
}
.glass {
	position: absolute; top:0; left:0;
	width: 100%;
	height: 100%;
	z-index:-1;
	background-color: transparent;
}
.welcome {
	display: flex;
	position: absolute;
	top: 10rem;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 2.5rem;
	font-size: 2.5rem;
	height: 5rem;
	width: 100%;
}
input, select {
	margin: 0 0.5em;
}
input[type='number'] {
	padding: 0 0.2em;
	min-width: 60px;
	width: 4em;
}
select {
	min-width: 4em;
}