<!DOCTYPE html>
<html ng-app="mathApp">
  <head>
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://math.alearn.org.tw/tools/card.html">
    <meta property="og:title" content="自由數學freemath">
    <meta property="og:image" content="http://bestian.github.io/freemath/tools/card.jpg">
    <meta property="og:image:width" content="??">
    <meta property="og:image:height" content="??">
    <meta property="og:description" content="多功能的數學閃卡">
    <title>數學閃卡</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/semantic/dist/semantic.min.css" class="ui">
    <link rel="stylesheet" type="text/css" href="./card.css" class="ui">
  </head>
  <body ng-controller="Ctrl" ng-keydown="onKeydown($event)">
    <nav class="ui inverted labeled icon menu noPrint"><a href="../index.html" class="item"><i title="首頁" class="home icon"></i>		首頁</a>
      <div class="right menu"><a target="_blank" href="https://freemath.hackpad.com/z9XTu9Rwf2P" class="item"><i title="玩法說明" class="question icon"></i>			玩法說明</a>
        <div id="setting" title="設定" class="ui simple dropdown item"><i class="setting icon"></i>			設定
          <div class="menu">
            <div class="item"><span>首數範圍:</span>
              <input type="number" ng-model="c.minN1" step="5" min="-5000" max="5000"><span>~ </span>
              <input type="number" ng-model="c.maxN1" step="5" min="-5000" max="5000">
            </div>
            <div class="item"><span>末數範圍:</span>
              <input type="number" ng-model="c.minN2" step="5"><span>~ </span>
              <input type="number" ng-model="c.maxN2" step="5">
            </div>
            <div class="divider"></div>
            <div class="item"><span>使用算符:</span>
              <select ng-model="c.op" ng-options="o as o.t for o in ops" class="ui select">
                <option value="">選擇一項</option>
              </select>
            </div>
            <div class="divider"></div>
            <div class="item"><span>表徵:</span>
              <select ng-model="c.rep" ng-options="r as r.t for r in reps" class="ui select">
                <option value="">選擇一項</option>
              </select>
            </div>
            <div class="divider"></div>
            <div class="item">
              <input type="checkbox" ng-model="c.rememberMe" class="ui checkbox"><span>記住我的設定</span>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="ui breadcrumb"><a href="../index.html" class="section">自由數學</a>
      <div class="divider"> / </div><a href="./index.html" class="section">工具</a>
      <div class="divider"> / </div>
      <div class="active section">閃卡</div>
    </div>
    <div class="ui container">
      <div id="main" clickable ng-click="flipCard()" class="ui segment">
        <div class="glass">
          <div ng-if="welcome" class="welcome">{{welcome}}</div>
        </div>
        <div id="number" ng-if="!c.rep.s">
          <h1 ng-if="!flip" class="q">{{n1 | renderNagtive}} {{c.op.t}} {{n2 | renderNagtive}}</h1>
          <h1 ng-if="flip" class="a"><span ng-if="!useRem">{{ans() | renderQuotient | renderInf}}</span>
            <!--span(ng-if="useRem", ng-repeat="qr in ans() | renderQuotRem")
            {{qr}}
            
            -->
          </h1>
        </div>
        <div id="dots" ng-if="c.rep.s == '.'">
          <div ng-if="!flip" class="q-dot"><span ng-repeat="d in numToDots(n1) track by $index"><span ng-class="{negative: Math.sign(d) == -1}" class="dot">{{d}}</span><span ng-show="($index+1) % 5 == 0" class="space"></span><br ng-show="($index+1) % 10 == 0"></span><br><span class="op">{{c.op.t}}</span><br><span ng-repeat="d in numToDots(n2) track by $index"><span ng-class="{negative: Math.sign(d) == -1}" class="dot">{{d}}</span><span ng-show="($index+1) % 5 == 0" class="space"></span><br ng-show="($index+1) % 10 == 0"></span></div>
          <div ng-if="flip" class="a-dot"><span ng-repeat="d in numToDots(ans()) track by $index"><span ng-class="{negative: Math.sign(d) == -1}" class="dot">{{d}}</span><span ng-show="($index+1) % 5 == 0" class="space"></span><br ng-show="($index+1) % 10 == 0"></span></div>
        </div>
        <div id="coins" ng-if="c.rep.s == '$'">
          <div ng-if="!flip" class="q-coin"><span ng-repeat="t in coinTypes" class="coin-stack"><span ng-class="t" ng-repeat="d in numToCoins(n1)[t] track by $index" class="coin">{{d}}</span></span><br><span class="op">{{c.op.t}}</span><br><span ng-repeat="t in coinTypes" class="coin-stack"><span ng-class="t" ng-repeat="d in numToCoins(n2)[t] track by $index" class="coin">{{d}}</span></span></div>
          <div ng-if="flip" class="a-coin"><span ng-repeat="t in coinTypes" class="coin-stack"><span ng-class="t" ng-repeat="d in numToCoins(ans())[t] track by $index" class="coin">{{d}}</span></span></div>
        </div>
      </div>
    </div>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./card.js"></script>
    <script type="text/javascript" src=" ../ga.js"></script>
  </body>
</html>