html {
	font-size: 2vm;
	font-size: 2vmin;
}
nav {
	border-radius: 0 0 0 0 !important;
}
.breadcrumb {
	position: relative;
	left: 10px;
	padding-bottom: 20px;
}
[clickable] {
	cursor: pointer;
}
#main.segment {
	position: relative;
	height: 50vh;
	min-height: 300px;
	padding: 0;
	border-radius: 2rem;
	overflow: hidden;
}

.q, .a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 !important;
	background-color: #eee;
	text-shadow: 0 3px 0 white, 3px 3px 0 white;
}
.q {
	color: red;
	font-size: 5rem;
}
.a {
	color: blue;
	font-size: 8rem;
}
.q-dot .dot { font-size: 4rem }
.a-dot .dot { font-size: 6rem }
.dot {
	color: #aa0;
}
.glass {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:1;
	background-color: transparent;
}
.welcome {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	font-size: 2.5rem;
	height: 5rem;
	width:100%;
}
input, select {
	margin: 0 0.5em;
}
input[type='number'] {
	padding: 0 0.2em;
	min-width: 60px;
	width: 4em;
}
select {
	min-width: 4em;
}