doctype html
html(ng-app='mathApp')
	head
		meta(charset='utf-8')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://math.alearn.org.tw/tools/card.html')
		meta(property='og:title', content='自由數學freemath')
		meta(property='og:image', content='http://bestian.github.io/freemath/tools/card.jpg')
		meta(property='og:image:width', content='??')
		meta(property='og:image:height', content='??')
		meta(property='og:description', content='多功能的數學閃卡')
		title 數學閃卡
		link.ui(rel='stylesheet', type='text/css', href='../bower_components/semantic/dist/semantic.min.css')
		link.ui(rel='stylesheet', type='text/css', href='./card.css')
		link.ui(rel='stylesheet', type='text/css', href='./card-dot.css')
		link.ui(rel='stylesheet', type='text/css', href='./card-coin.css')
	body(ng-controller='Ctrl', ng-keydown="onKeydown($event)")
		nav.ui.inverted.labeled.icon.menu.noPrint
			a.item(href='../index.html')
				i.home.icon(title='首頁')
				| 		首頁
			.right.menu
				a.item(target='_blank', href='https://freemath.hackpad.com/z9XTu9Rwf2P')
					i.question.icon(title='玩法說明')
					| 			玩法說明
				#setting.ui.simple.dropdown.item(title='設定')
					i.setting.icon
					| 			設定
					.menu
						.item
							span 首數範圍:
							input(type="number", ng-model="c.minN1", step="5", min = "-5000", max = "5000")
							span ~ 
							input(type="number", ng-model="c.maxN1", step="5", min = "-5000", max = "5000")
						.item
							span 末數範圍:
							input(type="number", ng-model="c.minN2", step="5")
							span ~ 
							input(type="number", ng-model="c.maxN2", step="5")
						.divider
						.item
							span 使用算符:
							select.ui.select(ng-model='c.op', ng-options='o as o.t for o in ops')
								//option(value="") 選擇一項
						.divider
						.item
							span 表徵:
							select.ui.select(ng-model='c.rep', ng-options='r as r.t for r in reps')
								//option(value="") 選擇一項
						.divider
						.item
							input.ui.checkbox(type="checkbox", ng-model="c.rememberMe")
							span 記住我的設定
		.ui.breadcrumb
			a.section(href='../index.html') 自由數學
			.divider  / 
			a.section(href='./index.html') 工具
			.divider  / 
			.active.section 閃卡

		.ui.container
			#main.ui.segment(clickable, ng-click="flipCard()")
				.glass
					.welcome(ng-if="welcome") {{welcome}}
				#number(ng-if="!c.rep.s")
					h1.q(ng-if="!flip") {{n1 | renderNagtive}} {{c.op.t}} {{n2 | renderNagtive}}
					h1.a(ng-if="flip")
							span(ng-if="!useRem") {{ans() | renderQuotient | renderInf}}
							//span(ng-if="useRem", ng-repeat="qr in ans() | renderQuotRem")
								{{qr}}

				#dots(ng-if="c.rep.s == '.'")
					.q-dot(ng-if="!flip")
						span(ng-repeat="d in numToDots(n1) track by $index")
							span.dot(ng-class="{negative: Math.sign(d) == -1}") {{d}}
							span.space(ng-show = "($index+1) % 5 == 0")
							br(ng-show = "($index+1) % 10 == 0")
						br
						span.op {{c.op.t}}
						br
						span(ng-repeat="d in numToDots(n2) track by $index")
							span.dot(ng-class="{negative: Math.sign(d) == -1}") {{d}}
							span.space(ng-show = "($index+1) % 5 == 0")
							br(ng-show = "($index+1) % 10 == 0")

					.a-dot(ng-if="flip")
						span(ng-repeat="d in numToDots(ans()) track by $index")
							span.dot(ng-class="{negative: Math.sign(d) == -1}") {{d}}
							span.space(ng-show = "($index+1) % 5 == 0")
							br(ng-show = "($index+1) % 10 == 0")

				#coins(ng-if="c.rep.s == '$'")
					.q-coin(ng-if="!flip")
						span.coin-stack(ng-repeat="t in coinTypes", ng-class="{negative: Math.sign(n1) == -1}")
							span.coin(ng-class="t", ng-repeat="d in numToCoins(n1)[t] track by $index") {{d}}
						br
						span.op {{c.op.t}}
						br
						span.coin-stack(ng-repeat="t in coinTypes", ng-class="{negative: Math.sign(n2) == -1}")
							span.coin(ng-class="t", ng-repeat="d in numToCoins(n2)[t] track by $index") {{d}}
					.a-coin(ng-if="flip")
						span.coin-stack(ng-repeat="t in coinTypes", ng-class="{negative: Math.sign(ans()) == -1}")
							span.coin(ng-class="t", ng-repeat="d in numToCoins(ans())[t] track by $index") {{d}}


		script(src='../bower_components/angular/angular.min.js')
		script(src='../bower_components/ngstorage/ngStorage.min.js')
		script(src='../bower_components/jquery/dist/jquery.min.js')
		script(type='text/javascript', src="./card.js")
		script(type='text/javascript', src=' ../ga.js')
